body{
    font-family: 'Roboto', sans-serif;
}

#menu{

    background-color: darkkhaki;
    padding: 2px;
}


#opciones li{
    display: inline-block;
    cursor: pointer;
    text-align:center
}

#opciones li a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 150px;
    cursor: pointer;
}

#opciones .active a{

    color: #fff;
}

a{
    color: #000;
    text-align: center;
}

h1{
    text-align: center;
}